{% extends '@WebProfiler/Profiler/layout.html.twig' %}
{% import _self as apiPlatform %}

{% block toolbar %}
    {% set icon %}
        {{ include('@ApiPlatform/DataCollector/api-platform.svg.twig', { width: 24, height: 24 }) }}
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {# Optional. Here you can link to or define your own CSS and JS contents. #}
    {# Use {{ parent() }} to extend the default styles instead of overriding them. #}
    {{ parent() }}

    <style>
        tr.sf-toggle-content.sf-toggle-visible {
            display: table-row;
        }
    </style>
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@ApiPlatform/DataCollector/api-platform.svg.twig', { width: 24, height: 24 }) }}
        </span>
        <strong>API Platform</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Acceptable Content Types</h2>
    <table>
        <thead>
            <tr>
                <th>Content Type</th>
            </tr>
        </thead>

        <tbody>
            {% for type in collector.acceptableContentTypes %}
            <tr>
                <td>{{ type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>
                    Resource class
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    {{ collector.resourceClass|default('Not an API Platform resource') }}
                </td>
            <tr>
        </tbody>
    </table>

    {% if collector.resourceMetadata %}
        <h2>Metadata</h2>
        <h3>Short name: "{{ collector.resourceMetadata.shortName }}"</h3>
        <table>
            <thead>
                <tr>
                    <th>
                        Item operations
                    </th>
                    <th>
                        Method / Route name
                    </th>
                    <th>
                        Attributes
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, itemOperation in collector.resourceMetadata.itemOperations %}
                    {{ apiPlatform.operationLine('item', key, itemOperation) }}
                {% endfor %}
            </tbody>
        <table>

        <table>
            <thead>
                <tr>
                    <th>
                        Collection operations
                    </th>
                    <th>
                        Method / Route name
                    </th>
                    <th>
                        Attributes
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, collectionOperation in collector.resourceMetadata.collectionOperations %}
                    {{ apiPlatform.operationLine('collection', key, collectionOperation) }}
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>
                        Filters
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for filter in collector.resourceMetadata.attributes.filters %}
                    <tr>
                        <td>
                            {{ filter }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="100%">
                        Attributes
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in collector.resourceMetadata.attributes if key != 'filters' %}
                    <tr>
                        <td>
                            {{ key }}
                        </td>
                        <td>
                            <pre>
                                {{- dump(value) -}}
                            </pre>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% macro operationLine(itemOrCollection, key, operation) %}
    <tr>
        <td>
            {{ key }}
        </td>
        <td>
            {% if operation['method'] is defined %}
                <em>Method:</em> {{ operation['method'] }}
            {% elseif operation['route_name'] is defined %}
                <em>Route name:</em> {{ operation['route_name'] }}
            {% endif %}
        </td>
        <td>
            <a
                href="#"
                class="sf-toggle link-inverse sf-toggle-on"
                data-toggle-selector="#api-platform-line-{{ itemOrCollection }}-{{ key }}"
                data-toggle-alt-content="Hide"
                data-toggle-original-content="Show"
            >
                Show
            </a>
        </td>
    </tr>
    <tr id="api-platform-line-{{ itemOrCollection }}-{{ key }}">
        <td colspan="3">
            {{- dump(operation) -}}
        </td>
    </tr>
{% endmacro %}
