{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% macro operationLine(key, operation, actualOperationName) %}
    <tr>
        <th scope="row" {{ key == actualOperationName ? 'class="status-success"' : '' }}>{{ key }}</th>
        <td {{ key == actualOperationName ? 'class="status-success"' : '' }}>{{- profiler_dump(operation, 1) -}}</td>
    </tr>
{% endmacro %}

{% import _self as apiPlatform %}

{% block toolbar %}
    {% set icon %}
        {{ include('@ApiPlatform/DataCollector/api-platform.svg') }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Resource Class</b>
            <span>{{ collector.resourceClass|default('Not an API Platform resource') }}</span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label{{ collector.resourceClass ? '' : ' disabled' }}">
        <span class="icon">
            {{ include('@ApiPlatform/DataCollector/api-platform.svg') }}
        </span>
        <strong>API Platform</strong>
    </span>
{% endblock %}

{% block panel %}
    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.resourceClass|default('Not an API Platform resource') }}</span>
            <span class="label">Resource class</span>
        </div>
    </div>

    {% if collector.resourceMetadata %}
        <h2>Metadata</h2>
        <h3>Short name: "{{ collector.resourceMetadata.shortName }}"</h3>
        <table>
            <thead>
                <tr>
                    <th scope="col" class="key">
                        Item operations
                    </th>
                    <th scope="col">
                        Attributes
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, itemOperation in collector.resourceMetadata.itemOperations %}
                    {{ apiPlatform.operationLine(key, itemOperation, collector.requestAttributes.item_operation_name) }}
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th scope="col" class="key">
                        Collection operations
                    </th>
                    <th scope="col">
                        Attributes
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, collectionOperation in collector.resourceMetadata.collectionOperations %}
                    {{ apiPlatform.operationLine(key, collectionOperation, collector.requestAttributes.collection_operation_name) }}
                {% endfor %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th>
                        Filters
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if collector.resourceMetadata.attributes.filters is defined %}
                    {% for filter in collector.resourceMetadata.attributes.filters %}
                        <tr>
                            <td>
                                {{ filter }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th scope="col" class="key">
                        Attributes
                    </th>
                    <th scope="col" colspan="100%"></th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in collector.resourceMetadata.attributes if key != 'filters' %}
                    <tr>
                        <th scope="row">
                            {{ key }}
                        </th>
                        <td>
                            {{- profiler_dump(value, 2) -}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Acceptable Content Types</h2>
        <table>
            <thead>
            <tr>
                <th>Content Type</th>
            </tr>
            </thead>

            <tbody>
                {% for type in collector.acceptableContentTypes %}
                    <tr>
                        <td>{{ type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
